{
  "parser": "babel-eslint",
  "rules": {
    "semi": ["error", "never"],
    "quotes": ["error", "single"],
    "no-unused-vars":"error",
    "no-var": "error"
  },
  "extends": [
    "prettier"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  }
}